<div [@routerTransition]>
  <app-page-header [heading]="'Consultar órdenes de trabajo'" [nuevo]="'/orden/crearorden/nuevo'" [pdf]="true" [icon]="'fa-edit'"></app-page-header>

  <div class="row">
    <div class="col col-xl-12 col-lg-12">


      <div class="card mb-3">
        <div  class="card-header">Ordenes de trabajo</div>
        <div class="card-body table-responsive">
          <table   class="table " datatable id="example-datatable" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th></th>
                <th>No. OT</th>
                <th>Fecha OT</th>
                <th>Hora</th>
                <th>ID Cliente</th>
                <th>Nombre del cliente</th>
                <th>ID/Placa</th>
     

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let orden of ordenes">
                <td>
                  <div class="btn-group">
                    <a title="Editar Orden de trabajo" routerLink="/orden/crearorden/{{orden.id}}" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></a>
                    <button title="Eliminar Orden de Trabajo"  class="btn btn-danger btn-sm" (click)="eliminarOrden(orden)"><i class="fa fa-trash"></i></button>
                    <a  title="Operaciones" routerLink="/orden/informacionorden/{{orden.id}}" class="btn btn-success btn-sm"><i class="fa fa-clock-o"></i></a>
                     <!-- <button title="Generar PDF Orden de Trabajo"  class="btn btn-warning btn-sm" (click)="print(orden)"><i class="fa fa-file-pdf-o"></i></button>  -->
                    <!-- <a *ngIf="orden.esUsuario" title="Operaciones" routerLink="/orden/detalleorden/{{orden.id}}" class="btn btn-success btn-sm"><i class="fa fa-clock-o"></i></a>
                    -->
                  </div>

                </td>


                <td><a routerLink="/orden/informacionorden/{{orden.id}}">OT-{{orden.data.numero | anadirCeros:5}}</a></td>
                <td>{{(orden.data.fecha.seconds)*1000 | date : 'dd/MM/yyyy'}}</td>
                <td>{{(orden.data.fecha.seconds)*1000 | date : 'HH:mm'}}</td>
                <td>{{orden.data.cliente.cedula}}</td>
                <td>{{orden.data.cliente.nombre}}</td>

                <td>
                  {{orden.data.vehiculo.placa}}

                </td>

                




              </tr>



            </tbody>
          </table>

         
        </div>
      </div>

    </div>
  </div>





</div>