<div [@routerTransition]>
  <app-page-header [heading]="'Detalle orden'" [icon]="'fa-edit'"></app-page-header>

  <div class="card">
    <div class="card-header">
      Información de la orden de trabajo
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <table class="table table-sm table-bordered">

            <tbody>
              <tr>
                <th>No. OT </th>
                <td>

                  <a href="orden/informacionorden/{{id}}">OT-{{(orden | async)?.numero | anadirCeros:5}} </a>
                  <a href="orden/crearorden/{{id}}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
                </td>
              </tr>


              <tr>
                <th>Fecha OT </th>
                <td>{{ (orden | async)?.fecha.seconds*1000 | date : 'dd/MM/yyyy HH:mm' }}</td>
              </tr>

              <tr>
                <th>ID Cliente</th>
                <td>{{ (orden | async)?.cliente.cedula }}</td>
              </tr>

              <tr>
                <th>Nombre cliente</th>
                <td>{{ (orden | async)?.cliente.nombre }}</td>
              </tr>
              <tr>
                <th>Vehículo</th>
                <td>{{ (orden | async)?.vehiculo.placa }} - {{ (orden | async)?.vehiculo.marca }} - {{ (orden | async)?.vehiculo.modelo
                  }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-6">
          <table class="table table-sm">

            <tbody>
              <tr>
                <th>Operaciones finalizadas </th>
                <td>{{finalizadas}} de {{ servicios.length }}</td>
              </tr>

              <tr>
                <th>Total Tiempo Estándar </th>
                <td>{{tiempoEstandar | formatTime}}</td>
              </tr>






            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header">
      Operaciones
    </div>
    <div class="card-body">




      <ngb-tabset>
        <ngb-tab title="Operaciones">
          <ng-template ngbTabContent>
            <div class="card">
              <div class="card-body">


                <div class="btn-group">

                  <div style="width: 20px; height: 20px;" class="table-danger border"></div>&nbsp;
                  <p>CITA/RECEPCIÓN</p>&nbsp;&nbsp;&nbsp;

                  <div style="width: 20px; height: 20px;" class="table-warning  border"></div>&nbsp;
                  <p>EN ESPERA</p>&nbsp;&nbsp;&nbsp;

                  <div style="width: 20px; height: 20px;" class="table-primary"></div>&nbsp;
                  <p>EN PRODUCCIÓN</p>&nbsp;&nbsp;


                  <div style="width: 20px; height: 20px;" class="table-success"></div>&nbsp;
                  <p>POR FACTURAR</p>&nbsp;&nbsp;
                </div>



                <table class="table table-bordered table-responsive-sm table-sm">
                  <thead>
                    <tr>
                      <th>Acciones</th>
                      <th>Cantidad</th>
                      <th>Código</th>
                      <th>Servicio</th>

                      <th>Tiempo estándar</th>
                      <th>Estado</th>
                      <th>Operador asignado</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let servicio of servicios let index = index" [class.table-danger]="servicio.estado=='CITA/RECEPCION'" [class.table-warning]="servicio.estado=='EN ESPERA DE PRODUCCIÓN'"
                      [class.table-primary]="servicio.estado=='EN PRODUCCIÓN'" [class.table-success]="servicio.estado=='POR FACTURAR'"
                      [class.table-warning]="servicio.estado=='EN PRODUCCIÓN - PAUSADO'">
                      <td>
                        <button *ngIf="servicio.estado=='EN ESPERA DE PRODUCCIÓN'" (click)="iniciarServicio(index)" class="btn btn-success btn-sm"
                          title="Iniciar">
                          <i class="fa fa-play"></i>

                        </button>

                        <button *ngIf="servicio.estado=='EN PRODUCCIÓN'" (click)="open(content, index)" class="btn btn-warning btn-sm" title="Pausar">
                          <i class="fa fa-pause"></i>
                        </button>

                        <button *ngIf="servicio.estado=='EN PRODUCCIÓN'" (click)="finalizarServicio(index)" title="Detener" class="btn btn-danger btn-sm">
                          <i class="fa fa-stop"></i>
                        </button>
                        <button *ngIf="servicio.estado=='EN PRODUCCIÓN - PAUSADO'" (click)="reanudarServicio(index)" class="btn btn-success btn-sm text-white"
                          title="Reanudar">
                          <i class="fa fa-play"></i>
                        </button>

                        <button *ngIf="servicio.estado=='POR FACTURAR'" (click)="open2(content2, index)" class="btn btn-primary btn-sm">
                          <i class="fa fa-eye"></i>
                        </button>
                      </td>
                      <td>{{servicio.cantidad}}</td>
                      <td>{{servicio.codigo}}</td>
                      <td>{{servicio.descripcion}}</td>

                      <td>{{servicio.tiempoEstandar*60*servicio.cantidad | formatTime}}</td>
                      <td>
                        {{servicio.estado}}
                        <p *ngIf="servicio.estado=='EN PRODUCCIÓN - PAUSADO'"> <strong>Motivo: </strong>{{servicio.motivoPausa}}</p>
                      </td>
                      <td>
                        <p *ngIf="servicio.operador">{{servicio.operador.data.nombre}}</p>
                      </td>


                    </tr>



                  </tbody>
                </table>
              </div>
            </div>

          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Operaciones finalizadas</b></ng-template>
          <ng-template ngbTabContent>

            <div class="card">
              <div class="card-body">
                <div class="btn-group">

                  <div style="width: 20px; height: 20px;" class="table-danger border"></div>&nbsp;
                  <p>Regular</p>&nbsp;&nbsp;&nbsp;

                  <div style="width: 20px; height: 20px;" class="table-warning  border"></div>&nbsp;
                  <p>Buena</p>&nbsp;&nbsp;&nbsp;

                  <div style="width: 20px; height: 20px;" class="table-success"></div>&nbsp;
                  <p>Muy buena</p>&nbsp;&nbsp;
                </div>

                <table id="example-datatable" class="table table-bordered table-responsive-sm table-sm">
                  <thead>
                    <tr>
                      <th>Cantidad</th>
                      <th>Código</th>
                      <th>Servicio</th>
                      <th>Operador</th>
                      <th>Tiempo Estándar</th>
                      <th>Lead Time</th>
                      <th>Tiempo Real</th>
                      <th>Eficiencia</th>
                    </tr>
                  </thead>
                  <tbody>

                    <ng-container *ngFor="let servicio of servicios ">
                      <tr *ngIf="servicio.estado=='POR FACTURAR'" 
                      [class.table-success]="servicio.estadisticas.eficiencia>=100" 
                      [class.table-warning]="servicio.estadisticas.eficiencia>=80 && servicio.eficiencia<100"
                        [class.table-danger]="servicio.estadisticas.eficiencia<80" 
                        >
                        <td>{{servicio.cantidad}}</td>
                        <td>
                          {{servicio.codigo}}
                        </td>
                        <td>
                          {{servicio.descripcion}}
                        </td>
                        <td>
                          {{servicio.operador.data.nombre}}
                        </td>
                        <td>
                          {{servicio.estadisticas.tiempoEstandar | formatTime}}
                        </td>
                        <td>
                          {{servicio.estadisticas.leadTime | formatTime}}
                        </td>
                        <td>
                          {{servicio.estadisticas.tiempoReal | formatTime}}
                        </td>
                        <td>
                          {{servicio.estadisticas.eficiencia}}%
                        </td>
                      </tr>
                    </ng-container>

                  </tbody>
                </table>


              </div>
            </div>






          </ng-template>
        </ngb-tab>

      </ngb-tabset>







    </div>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5>Pausar operación</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Servicio: </strong>{{servicioSeleccionado.descripcion}}</p>
      <p><strong>Motivo pausa:</strong>
        <select [(ngModel)]="pausa.motivo">
          <option value="">Seleccionar un motivo...</option>
          <option value="FALTA DE AUTORIZACIÓN">FALTA DE AUTORIZACIÓN</option>
          <option value="FALTA DE REPUESTOS">FALTA DE REPUESTOS</option>
          <option value="TRABAJOS DE TERCEROS">TRABAJOS DE TERCEROS</option>
          <option value="OTRO TRABAJO">OTRO TRABAJO</option>
          <option value="BREAK">BREAK</option>
          <option value="ALMUERZO">ALMUERZO</option>
          <option value="FINALIZACIÓN DE JORNADA LABORAL">FINALIZACIÓN DE JORNADA LABORAL</option>
        </select></p>

      <p><strong>Observación:</strong> <input [(ngModel)]="pausa.observacion" type="text"></p>
      <p><button [disabled]="pausa.motivo==''" class="btn btn-primary" (click)="pausar(); c('Close click')">Guardar</button></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5>Detalle de la operación</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="card">
        <div class="card-header">información</div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-6">
              <table class="table table-bordered table-sm">
                <tr>
                  <th>Servicio:</th>
                  <td>{{servicioSeleccionado.descripcion}}</td>
                </tr>

                <tr>
                  <th>Operador:</th>
                  <td>{{servicioSeleccionado.operador.data.nombre}}</td>
                </tr>

                <tr>
                  <th>Hora Inicio </th>
                  <td>{{ servicioSeleccionado.horaInicio.seconds*1000 | date : 'dd/MM/yyyy HH:mm' }}</td>
                </tr>
                <tr>
                  <th>Hora Fin </th>
                  <td>{{ servicioSeleccionado.horaFin.seconds*1000 | date : 'dd/MM/yyyy HH:mm' }}</td>
                </tr>

              </table>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered table-sm">

                <tr>
                  <th>Tiempo estándar</th>
                  <td>{{ servicioSeleccionado.estadisticas.tiempoEstandar | formatTime}}</td>
                </tr>
                <tr>
                  <th>LeadTime</th>
                  <td>{{ servicioSeleccionado.estadisticas.leadTime | formatTime}}</td>
                </tr>
                <tr>
                  <th>Pausas</th>
                  <td>{{ servicioSeleccionado.estadisticas.pausas | formatTime}}</td>
                </tr>
                <tr>
                  <th>Tiempo real</th>
                  <td>{{ servicioSeleccionado.estadisticas.tiempoReal | formatTime}}</td>
                </tr>
                <tr>
                  <th>Eficiencia</th>
                  <td>{{ servicioSeleccionado.estadisticas.eficiencia }}%</td>
                </tr>
              </table>
            </div>
          </div>

        </div>
      </div>



      <div class="card">
        <div class="card-header">
          Pausas
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Hora inicio</th>
                <th>Hora fin</th>
                <th>Motivo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pausa of servicioSeleccionado.pausas">
                <td>{{ pausa.horaInicio.seconds*1000 | date : 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ pausa.horaFin.seconds*1000 | date : 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{pausa.motivo.motivo}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
    </div>
  </ng-template>





</div>