<div [@routerTransition]>
    <app-page-header [heading]="'Configuración'" [pdf]="false" [icon]="'fa-edit'"></app-page-header>

    <ngb-tabset>
        <ngb-tab title="General">
            <ng-template ngbTabContent>
                <div class="container mb-3">
                    <br>
                    <app-empresa></app-empresa>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Usuarios</b></ng-template>
            <ng-template ngbTabContent>
                <div class="container mb-3">
                    <br>
                    <app-usuarios></app-usuarios>
                </div>
            </ng-template>
        </ngb-tab>



    </ngb-tabset>
</div>