<div [@routerTransition]>
  <app-page-header [heading]="'Crear orden de trabajo'" [icon]="'fa-edit'"></app-page-header>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Información de la orden de trabajo
        </div>
        <div class="card-body" style="font-size: 14px">
          <div class="row">
            <div class="col">
              <label for="">Cliente:</label>
              <form class="form" [formGroup]="ClienteForm" (ngSubmit)="seleccionarPersona()">
                <div class="">
                  <ng-select class="form-control" style="font-size: 14px" autofocus style="width: 250px;" (change)="seleccionarPersona()" class="form-control"
                    [items]="personas | async" bindLabel="data.nombre" formControlName="persona">
                  </ng-select>
                </div>
              </form>
            </div>
            <div>
            </div>
            <div class="col">
              <label for="">Cédula</label>
              <br> {{ (personaSeleccionada)?.data.cedula | uppercase }}
            </div>
            <div class="col">
              <label for="">Dirección</label>
              <br> {{ (personaSeleccionada)?.data.direccion | uppercase }}
            </div>
            <div class="col">
              <label for="">Teléfono</label>
              <br> {{ (personaSeleccionada)?.data.telefono | uppercase }}
            </div>
            <div class="col">
              <label for="">Correo</label>
              <br> {{ (personaSeleccionada)?.data.correo }}
            </div>
            <div class="col">
              <label for=""> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </label>
              <button class="btn btn-primary " (click)="open(content)">
                <i class="fa fa-plus"></i> Nuevo
              </button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <label for="">Vehículo:</label>
              <form class="form" [formGroup]="VehiculoForm" (ngSubmit)="seleccionarPersona()">
                <div class=""  >
                  <ng-select class="form-control" autofocus style="width: 250px;" (change)="seleccionarVehiculo()" class="form-control" [items]="vehiculos | async"  
                  bindLabel="data.placa" formControlName="vehiculo" >
                  </ng-select>
                </div>
              </form>
            </div>
            <div class="col">
              <label for="">Placa</label>
              <br> {{ (vehiculoSeleccionado)?.data.placa | uppercase }}
            </div>
            <div class="col">
              <label for="">Marca</label>
              <br> {{ (vehiculoSeleccionado)?.data.marca | uppercase }}
            </div>
            <div class="col">
              <label for="">Modelo</label>
              <br> {{ (vehiculoSeleccionado)?.data.modelo | uppercase }}
            </div>
            <div class="col">
              <label for="">Color</label>
              <br> {{ (vehiculoSeleccionado)?.data.color | uppercase }}
            </div>
            <div class="col">
              <label for=""> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </label>
              <button class="btn btn-primary " (click)="open(content2)">
                <i class="fa fa-plus"></i> Nuevo
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Servicios
        </div>
        <div class="card-body">
          <div class="row">
            Servicios disponibles:
            <form class="form" [formGroup]="ServicioForm" (ngSubmit)="seleccionarServicio()">
              <div class="">
                <ng-select class="form-control" style="width: 250px;" (change)="seleccionarServicio()" class="form-control" [items]="servicios | async"
                  bindLabel="data.descripcion" formControlName="servicio">
                </ng-select>
              </div>
            </form>
          </div>
          <hr>
          <p>
            <strong>Servicios seleccionados: </strong>{{serviciosSeleccionados.length}}</p>
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th></th>
                <th scope="col">Servicio</th>
                <th scope="col">Descripción</th>
                <th scope="col">Tiempo estandar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let servicio of serviciosSeleccionados;let i = index">
                <td>
                  <button (click)="eliminarServicio(i)" type="button" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
                <td *ngIf="servicio.data">{{servicio.data.descripcion}}</td>
                <td *ngIf="servicio.data">{{servicio.data.detalle}}</td>
                <td *ngIf="servicio.data">{{servicio.data.tiempoEstandar}} minutos</td>
              </tr>
            </tbody>
          </table>
          <hr>

          <button [disabled]="serviciosSeleccionados.length==0 || ClienteForm.persona=={} || VehiculoForm.vehiculo=={}" class="btn btn-primary" (click)="guardarOrden()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-crear-persona></app-crear-persona>
  </div>
</ng-template>
<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-crear-vehiculo></app-crear-vehiculo>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
<ng-template #content3 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-crear-servicio></app-crear-servicio>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>