<div [@routerTransition]>
  <app-page-header [heading]="'Crear orden de trabajo'" [icon]="'fa-edit'"></app-page-header>
 
  <div class="row">
    <div class="col-md-12">

      <h5>Orden de trabajo: {{numeroOrden}}</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Informacion del cliente <span style="color: red">*</span></div>

            <div class="card-body">
              <table class="table table-sm table-bordered">
                <tr>
                  <th>Buscar:</th>
                  <td>

                    <div class="btn-group">
                      <form class="form" [formGroup]="ClienteForm" (ngSubmit)="seleccionarPersona()">
                        <ng-select class="form-control" style="font-size: 14px" autofocus style="width: 250px;" (change)="seleccionarPersona()" class="form-control"
                          [items]="personas | async" bindLabel="data.nombre" formControlName="persona">
                        </ng-select>
                      </form>
                      <button class="btn btn-white btn-sm" (click)="open(content)"><i class="fa fa-plus"></i></button>
                    </div>


                  </td>
                </tr>
                <tr>
                  <th>Nombre:</th>
                  <td>
                    {{ (personaSeleccionada)?.data.nombre }}
                  </td>
                </tr>
                <tr>
                  <th>Cédula/RUC:</th>
                  <td>{{ (personaSeleccionada)?.data.cedula }}</td>
                </tr>
                <tr>
                  <th>Dirección:</th>
                  <td>{{ (personaSeleccionada)?.data.direccion}}</td>
                </tr>
                <tr>
                  <th>Teléfono:</th>
                  <td>{{ (personaSeleccionada)?.data.telefono }}</td>
                </tr>
                <tr>
                  <th>Correo:</th>
                  <td>{{ (personaSeleccionada)?.data.correo }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Información del vehiculo <span style="color: red">*</span></div>
            <div class="card-body">

              <table class="table table-sm table-bordered">
                <tr>
                  <th>Buscar:</th>
                  <td>
                    <div class="btn-group">
                      <form class="form" [formGroup]="VehiculoForm" (ngSubmit)="seleccionarPersona()">
                        <ng-select class="form-control" autofocus style="width: 250px;" (change)="seleccionarVehiculo()" class="form-control" [items]="vehiculos | async"
                          bindLabel="data.placa" formControlName="vehiculo">
                        </ng-select>
                      </form>
                      <button class="btn btn-white btn-sm" (click)="open(content2)"><i class="fa fa-plus"></i></button>
                    </div>

                  </td>
                </tr>
                <tr>
                  <th>ID/Placa:</th>
                  <td>
                    {{ (vehiculoSeleccionado)?.data.placa }}
                  </td>
                </tr>
                <tr>
                  <th>Marca:</th>
                  <td>
                    {{ (vehiculoSeleccionado)?.data.marca }}
                  </td>
                </tr>
                <tr>
                  <th>Modelo:</th>
                  <td>
                    {{ (vehiculoSeleccionado)?.data.modelo }}
                  </td>
                </tr>
                <tr>
                  <th>Color:</th>
                  <td>
                    {{ (vehiculoSeleccionado)?.data.color }}
                  </td>
                </tr>

                <tr>
                  <th>Motor:</th>
                  <td>
                    {{ (vehiculoSeleccionado)?.data.numeroMotor }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Registro de productos o servicios <span style="color: red">*</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="btn-group">
              <p>Escoja producto o servicio: &nbsp;&nbsp;</p>
              <form class="form" [formGroup]="ServicioForm" (ngSubmit)="seleccionarServicio()">
                  <ng-select class="form-control" style="width: 250px;" (change)="seleccionarServicio()" class="form-control" [items]="servicios | async"
                  bindLabel="data.descripcion" formControlName="servicio">
                </ng-select>
              </form>
              <button class="btn btn-primary" (click)="open(contentServicio)">
                <i class="fa fa-plus"></i>
              </button>

            </div>


          </div>
          <hr>

          <p>
            <strong>Servicios seleccionados: </strong>{{serviciosSeleccionados.length}}</p>
          <table class="table table-bordered table-responsive-sm table-sm">
            <thead>
              <tr>
                <th></th>
                <th scope="col">Cantidad</th>
                <th scope="col">Código</th>
                <th scope="col">Servicio</th>

                <th scope="col">Tiempo estandar</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let servicio of serviciosSeleccionados;let i = index">
                <td>
                  <button [disabled]="servicio.data.estado!='CITA/RECEPCION'" (click)="eliminarServicio(i)" type="button" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
                <td *ngIf="servicio.data"><input [disabled]="servicio.data.estado!='CITA/RECEPCION'" style="max-width: 60px" class="form-control" type="number" min="1" [(ngModel)]="servicio.data.cantidad"></td>
                <td *ngIf="servicio.data">{{servicio.data.codigo}}</td>
                <td *ngIf="servicio.data">{{servicio.data.descripcion}}</td>

                <td *ngIf="servicio.data">{{servicio.data.tiempoEstandar}} minutos</td>
                <td *ngIf="servicio.data">{{servicio.data.estado}}</td>
              </tr>
            </tbody>
          </table>
          <hr>

          <button [disabled]="serviciosSeleccionados.length==0 || ClienteForm.persona=={} || VehiculoForm.vehiculo=={}" class="btn btn-primary"
            (click)="guardarOrden()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-crear-persona></app-crear-persona>
  </div>
</ng-template>
<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-crear-vehiculo [id]="nuevo"></app-crear-vehiculo>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>


<ng-template #contentServicio let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-crear-servicio></app-crear-servicio>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>