<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom fonts for this template -->
    <!-- <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> -->

    <!-- Custom styles for this template -->
    <!--     <link href="css/landing-page.min.css" rel="stylesheet"> -->

</head>

<body>



    <!-- Masthead -->
    <div class="row">
        <div class="col-md-8">
            <header class="masthead text-white text-center">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 mx-auto">
                            <h1 class="mb-5">Control de Tiempos</h1>
                        </div>

                    </div>
                </div>
            </header>
        </div>
        <div class="col-md-4">
            <div class="form-signin">

                <form [formGroup]="personaForm" (ngSubmit)="onLoggedin2()">



                    <img src="assets/images/kanban.png" width="100%" alt=""><br><br><br>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" autofocus type="text" formControlName="email" class="form-control"
                        placeholder="Correo electrónico" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" type="password" formControlName="password" class="form-control"
                        placeholder="Contraseña" required>
                    <div *ngIf="error!=''" class="alert alert-danger" role="alert">
                        <strong>Error: </strong> {{error}}
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>
                </form>
                <a href="/recuperacion">¿No puede acceder a su cuenta?</a>


                <div *ngIf="listaEmpresas.length>0">
                    <hr> Empresas:
                    <select *ngIf="listaEmpresas.length>0" [(ngModel)]="empresaSeleccionada" class="form-control"
                        (change)="seleccionarEmpresa()">
                        <option value="">Seleccionar...</option>
                        <option *ngFor="let empresa of listaEmpresas" value="{{empresa.path}}">{{empresa.nombre}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>









    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="http://kanban.cokaizen.com/">Acerca de</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>

                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Kanban Technologies 2018. Todos los derechos
                        reservados.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="https://www.facebook.com/Kanban-Technologies-400018097072474/">
                                <i class="fa fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="https://www.linkedin.com/in/kanban-technologies-21ab76166/">
                                <i class="fa fa-linkedin   fa-2x fa-fw"></i>
                            </a>
                        </li>

                        <li class="list-inline-item mr-3">
                                <a href="https://twitter.com/KaizenMkt1">
                                    <i class="fa fa-twitter   fa-2x fa-fw"></i>
                                </a>
                            </li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

</body>

</html>