<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Control de tiempos</h1>
            <div class="form-content">
                <div class="form-group">
                    <input autofocus type="text" [(ngModel)]="usuario.email" class="form-control input-underline input-lg" id="1" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" [(ngModel)]="usuario.password" class="form-control input-underline input-lg" id="2" placeholder="Password">
                </div>
                <div *ngIf="error!=''" class="alert alert-danger" role="alert">
                    <strong>Error: </strong> {{error}}
                </div>
            </div>

            <select *ngIf="listaEmpresas.length>0" class="form-control">
                <option *ngFor="let empresa of listaEmpresas">{{empresa.nombre}}</option>
            </select>
            <br>
            <button class="btn rounded-btn" (click)="onLoggedin2()">Iniciar sesión</button>
        </div>
    </div>
</div>