<div [@routerTransition]>
    <h2 class="text-muted">Panel de control

    </h2>
    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col col-xs-9 text-right">
                            <div class="d-block huge">{{numeroPersonas}}</div>
                            <div class="d-block">Clientes</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-link text-white" href="/persona/consultarpersona">Ver detalles</a>
                    <a href="/persona/crearpersona/nuevo" class="float-right card-inverse">
                        <span><i class="fa fa-plus-circle text-white"></i></span>
                    </a>
                </div>
            </div>

        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="card text-white bg-danger">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col col-xs-9 text-right">
                            <div class="d-block huge">{{numeroVehiculos}}</div>
                            <div class="d-block">Vehículos</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-link text-white" href="/vehiculo/consultarvehiculo">Ver detalles</a>
                    <a href="/vehiculo/crearvehiculo/nuevo" class="float-right card-inverse">
                        <span><i class="fa fa-plus-circle text-white"></i></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6">
            <div class="card text-white bg-success">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col col-xs-9 text-right">
                            <div class="d-block huge">{{numeroOrdenes}}</div>
                            <div class="d-block">Ordenes de trabajo</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-link text-white" href="/orden/consultarorden">Ver detalles</a>
                    <a href="/orden/crearorden/nuevo" class="float-right card-inverse">
                        <span><i class="fa fa-plus-circle text-white"></i></span>
                    </a>
                </div>
            </div>
  
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>

    <hr />

</div>