<div [@routerTransition]>
  <app-page-header [heading]="'Consultar persona'"  (myEvent)="imprimirReporte($event)" [pdf]="true" [nuevo]="'/persona/crearpersona/nuevo'" [icon]="'fa-edit'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">



      <div class="card mb-3">
        <div class="card-header">Personas</div>
        <div class="card-body table-responsive">
          <table id="example-datatable" class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th></th>
      
                <th>Identificación</th>
                <th style="width: 50%">Nombre</th>
   
                <th>Correo</th>
                <th>Teléfono</th>
  

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let persona of personas">
                <td>
                  <div class="btn-group">
                      <a title="Editar persona" routerLink="/persona/crearpersona/{{persona.id}}" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></a>
                      <button title="Eliminar persona" class="btn btn-danger btn-sm" (click)="eliminarPersona(persona)"><i class="fa fa-trash"></i></button>
                  </div>
                  
                </td>
         
                <td>{{persona.data.cedula}}</td>
                <td>
                  <a title="Ver información" routerLink="/persona/informacionpersona/{{persona.id}}">{{persona.data.nombre}}</a>
                 <br>
                 <p>
                 <small [class.text-danger]="persona.data.estado=='Inactivo'" [class.text-success]="persona.data.estado=='Activo'"> <i [class.fa-check-square]="persona.data.estado=='Activo'" [class.fa-minus-square]="persona.data.estado=='Inactivo'" class="fa"></i> {{persona.data.estado}} </small> <small> - </small>
                 <small><i class="fa fa-user"></i> {{persona.data.tipo}} </small> <small> - </small>
                  <small *ngIf="persona.data.cliente"> Cliente </small> 
                  <small *ngIf="persona.data.empleado"> Empleado </small> 
                </p>
                </td>
  
                <td>{{persona.data.correo }}</td>
                <td>{{persona.data.telefono}}</td>
   
              </tr>



            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>



</div>
