<div [@routerTransition]>
  <app-page-header [heading]="'Consultar servicio'" [icon]="'fa-edit'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">


      <div class="card mb-3">
        <div class="card-header">Servicios</div>
        <div class="card-body table-responsive">
          <table id="example-datatable"  class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th></th>
                <th>Código</th>
                <th>Servicio</th>
                <th>Tiempo estándar</th>
            
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let servicio of servicios">

                <td>
                  <div class="btn-group">
                      <a title="Editar Servicio"  href="/servicio/crearservicio/{{servicio.id}}" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></a>
                      <button title="Eliminar Servicio"  class="btn btn-danger btn-sm" (click)="eliminarServicio(servicio)"><i class="fa fa-trash"></i></button>
                  </div>
                   
                </td>
            
                <td>{{servicio.data.codigo}}</td>
                <td>
                    {{servicio.data.descripcion}}
                </td>
                <td>{{servicio.data.tiempoEstandar*60 | formatTime}}</td>
            

              </tr>



            </tbody>
          </table>

        


        </div>
      </div>

    </div>
  </div>

</div>