<div [@routerTransition]>
  <app-page-header [heading]="'Información vehículo'" [icon]="'fa-edit'"></app-page-header>

  <div class="card">
    <div class="card-header">
      Información de la orden de trabajo
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <table class="table table-sm table-bordered">

            <tbody>
              <tr>
                <th>Fecha </th>
                <td>{{ (orden | async)?.fecha.seconds*1000 | date : 'dd/MM/yyyy hh:mm a' }}</td>
              </tr>

              <tr>
                <th>ID Cliente</th>
                <td>{{ (orden | async)?.cliente.cedula }}</td>
              </tr>

              <tr>
                <th>Nombre cliente</th>
                <td>{{ (orden | async)?.cliente.nombre }}</td>
              </tr>
              <tr>
                <th>Vehículo</th>
                <td>{{ (orden | async)?.vehiculo.placa }} - {{ (orden | async)?.vehiculo.marca }} - {{ (orden | async)?.vehiculo.modelo
                  }}
                </td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header">
      Servicios
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Servicio</th>
            <th>Descripcioón</th>
            <th>Tiempo estandar</th>
            <th>Estado</th>
            <th>Operador asignado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servicio of servicios let index = index">
            <td>{{servicio.descripcion}}</td>
            <td>{{servicio.detalle}}</td>
            <td>{{servicio.tiempoEstandar}} minutos</td>
            <td>{{servicio.estado}}</td>
            <td>

              <div class="">
                <ng-select class="form-control" style="font-size: 14px" [(ngModel)]="servicio.operador" autofocus style="width: 250px;"
                  class="form-control" [items]="personas | async" bindLabel="data.nombre"  (change)="seleccionarPersona(servicio, index)">
                </ng-select>
              </div>

            </td>

          </tr>



        </tbody>
      </table>
    </div>
  </div>





</div>