<div [@routerTransition]>
  <app-page-header [heading]="'Información Orden de trabajo'" [pdf]="true" (myEvent)="imprimirReporte($event)" [nuevo]="'/orden/crearorden/nuevo'"
  [edicion]="'/orden/crearorden/'+id" [icon]="'fa-edit'"></app-page-header>
  <div class="card">
    <div class="card-header">
      Información de la orden de trabajo
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <table class="table table-sm table-bordered" >

            <tbody>
              <tr>
                <th>Número </th>
                <td>OT-{{(orden | async)?.numero | anadirCeros:5}}</td>
              </tr>
              <tr>
                <th>Fecha OT </th>
                <td>{{ (orden | async)?.fecha.seconds*1000 | date : 'dd/MM/yyyy HH:mm' }}</td>
              </tr>

              <tr>
                <th>ID Cliente</th>
                <td>{{ (orden | async)?.cliente.cedula }}</td>
              </tr>

              <tr>
                <th>Nombre Cliente</th>
                <td>{{ (orden | async)?.cliente.nombre }}</td>
              </tr>
              <tr>
                <th>ID/Placa</th>
                <td>{{ (orden | async)?.vehiculo.placa }}
                </td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header">
      Asignación de operadores
    </div>
    <div class="card-body">
      <table class="table  table-responsive-sm">
        <thead>
          <tr>
            <th></th>
            <th>Cantidad</th>
            <th>Código</th>
            <th>Servicio</th>
            <th>Tiempo estándar</th>
            <th>Estado</th>
            <th>Operador asignado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servicio of servicios let index = index">
            <td>
              <button [disabled]="servicio.estado=='POR FACTURAR'|| servicio.estado=='EN PRODUCCIÓN' || servicio.estado=='EN PRODUCCIÓN - PAUSADO'" title="Guardar cambios" class="btn btn-sm btn-primary" (click)="seleccionarPersona(servicio, index)"><i class="fa fa-floppy-o "></i></button>
            </td>
            <td>{{servicio.cantidad}}</td>
            <td>{{servicio.codigo}}</td>
            <td>{{servicio.descripcion}}</td>
            <td>{{servicio.tiempoEstandar*servicio.cantidad*60 | formatTime}}</td>
            <td>{{servicio.estado}}</td>
            <td>

              <div class="">
                <div class="row">
                  <ng-select [disabled]="servicio.estado=='POR FACTURAR'|| servicio.estado=='EN PRODUCCIÓN' || servicio.estado=='EN PRODUCCIÓN - PAUSADO'"  class="form-control" style="font-size: 14px" [(ngModel)]="servicio.operador" autofocus style="width: 230px;" class="form-control"
                    [items]="personas | async" bindLabel="data.nombre">
                  </ng-select>

                </div>

              </div>

            </td>

          </tr>



        </tbody>
      </table>
    </div>
  </div>





</div>