<div [@routerTransition]>
  <app-page-header [heading]="'Información Orden de trabajo'" [icon]="'fa-edit'"></app-page-header>

  <div class="card">
    <div class="card-header">
      Información de la orden de trabajo
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <table class="table table-sm table-bordered">

            <tbody>
              <tr>
                <th>Número </th>
                <td>{{ (orden | async)?.numero }}</td>
              </tr>
              <tr>
                <th>Fecha OT </th>
                <td>{{ (orden | async)?.fecha.seconds*1000 | date : 'dd/MM/yyyy HH:mm' }}</td>
              </tr>

              <tr>
                <th>ID Cliente</th>
                <td>{{ (orden | async)?.cliente.cedula }}</td>
              </tr>

              <tr>
                <th>Nombre cliente</th>
                <td>{{ (orden | async)?.cliente.nombre }}</td>
              </tr>
              <tr>
                <th>Vehículo</th>
                <td>{{ (orden | async)?.vehiculo.placa }} - {{ (orden | async)?.vehiculo.marca }} - {{ (orden | async)?.vehiculo.modelo
                  }}
                </td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header">
      Asignación de operadores
    </div>
    <div class="card-body">
      <table class="table  table-responsive-sm">
        <thead>
          <tr>
            <th>Código</th>
            <th>Servicio</th>
            <th>Tiempo estandar</th>
            <th>Estado</th>
            <th>Operador asignado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servicio of servicios let index = index">
              <td>{{servicio.codigo}}</td>
            <td>{{servicio.descripcion}}</td>
            <td>{{servicio.tiempoEstandar}} minutos</td>
            <td>{{servicio.estado}}</td>
            <td>

              <div class="">
                <div class="row">
                    <ng-select class="form-control" style="font-size: 14px" [(ngModel)]="servicio.operador" autofocus style="width: 230px;" class="form-control"
                      [items]="personas | async" bindLabel="data.nombre" (change)="seleccionarPersona(servicio, index)">
                    </ng-select>
                 
                </div>

              </div>

            </td>

          </tr>



        </tbody>
      </table>
    </div>
  </div>





</div>