<div [@routerTransition]>
  <app-page-header [heading]="'Crear servicio'" [icon]="'fa-edit'"></app-page-header>


  <div class="row container">
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-header">
          Manejo de categorías y subcategorías
        </div>
        <div class="card-body">
          <div class="card">
            <div class="card-body">
              <div>
                <p>Seleccionar una categoría</p>

                <div class="row">
                  <div class="col-md-12">
                    <ul class="list-inline border">
                      <li class="list-inline-item" *ngFor="let categoria of categorias | async">
                        <button title="Seleccionar categoría" type="button" (click)="seleccionarCategoria(categoria)" class="btn btn-link">{{categoria.data.nombre}}</button>
                      </li>
                      <li class="list-inline-item">
                   
                      </li>
                    </ul>
                    <a routerLink="/servicio/categorias" class="btn btn-sm btn-light">Gestión de categorías</a>
                  </div>
                 
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="categoriaSeleccionada" class="col-md-12">
      <div class="card">
        <div class="card-header">
          Generación de productos o servicios
        </div>
        <div class="card-body">

        
          <div class="btn-group">
              <h5 *ngIf="categoriaSeleccionada.data">

                  <strong>Categoría: </strong>{{categoriaSeleccionada.data.nombre}}</h5>

                 
        
          </div>
          <br>
          <br><br>

         
          <form class="form-inline" [formGroup]="servicioForm" (ngSubmit)="guardarServicio()">
            <div class="form-group mb-2 mx-sm-2">
              <label for="staticEmail2" class="">Código <span style="color: red">* &nbsp; &nbsp; &nbsp;</span></label>
              <input autofocus type="text" maxlength="14" formControlName="codigo" style="max-width: 150px;" class="form-control" id="staticEmail2">
            </div>


            <div class="form-group mb-2 mx-sm-2">
              <label for="staticEmail2" class="">Servicio <span style="color: red">* &nbsp; &nbsp; &nbsp;</span></label>
              <input type="text" formControlName="descripcion" class="form-control" id="staticEmail2">
            </div>

            <div class="form-group mb-2 mx-sm-3">
              <label for="staticEmail2" class="">Tiempo estándar(min) <span style="color: red">* &nbsp; &nbsp; &nbsp;</span></label>
              <input type="number" formControlName="tiempoEstandar" style="max-width: 100px;" class="form-control" id="staticEmail2">
            </div>

            <div class="form-group mb-2 mx-sm-2">
              <label for="staticEmail2" class="">Detalle &nbsp; &nbsp; &nbsp; &nbsp;</label>

              <textarea formControlName="detalle" maxlength="50" cols="26" class="form-control"></textarea>
            </div>



            <button title="Guardar Servicio" type="submit"  class="btn btn-primary mb-2">Guardar Servicio</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>