<div [@routerTransition]>
  <app-page-header [heading]="'Reportes'" [icon]="'fa-edit'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">Búsqueda</div>
        <div class="card-body ">
          <div class="row">

            <div class="btn-group">
           <label for="">Desde</label>
              <input type="date" [(ngModel)]="filtroTiempo.inicio" class="form-control">
              <p>Hasta: </p>
              <input type="date" [(ngModel)]="filtroTiempo.fin" class="form-control">
              <button class="btn btn-primary" (click)="buscarOrdenes()"><i class="fa fa-search"></i> Consultar</button>
            </div>
          

          </div>


        </div>
      </div>
    </div>
  </div>

  <div *ngIf="tareas.length>0" class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-header">
          Estado
        </div>
        <div class="card-body">
          <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
          </canvas>

          <div class="align-bottom" style="text-align: right">
           
          </div>

       
        </div>
      </div>
    </div>

   

    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-header">
          Resumen
        </div>
        <div class="card-body">
            <table class="table table-sm table-bordered">

              <tr>
                <th>Operaciones finalizadas</th>
                <td>{{estadisticas.fin}} de {{tareas.length}}</td>
              </tr>


                <tr>
                  <th>Total Tiempo Estándar</th>
                  <td>{{estadisticas.te | formatTime}}</td>
                </tr>

                <tr>
                  <th>Total Tiempo Real:</th>
                  <td>{{estadisticas.tr | formatTime}}</td>
                </tr>

                <tr>
                    <th>Total Eficiencia:</th>
                    <td>{{estadisticas.eficiencia}}%</td>
                  </tr>
              

              </table>
        </div>
      </div>
    </div>
  </div>

  <div  class="card mb-3">
    <div class="card-header">Resumen</div>
    <div class="card-body">





      <table id="example-datatable" class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>No. OT</th>
            <th>Cantidad</th>
            <th>Código</th>
            <th>Producto/Servicio</th>
            <th>Estado</th>
            <th>Operador</th>
            <th>Tiempo Estándar</th>
            <th>Tiempo Real</th>
            <th>Eficiencia</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarea of tareas">
            <td> <a routerLink="/orden/informacionorden/{{tarea.orden.id}}">OT-{{tarea.orden.numero | anadirCeros:5}}
              </a></td>
            <td>{{tarea.cantidad}}</td>
            <td>{{tarea.codigo}}</td>
            <td>{{tarea.descripcion}}</td>
            <td
            [class.table-danger]="tarea.estado=='CITA/RECEPCION'"
                  [class.table-warning]="tarea.estado=='EN ESPERA DE PRODUCCIÓN'" 
                  [class.table-primary]="tarea.estado=='EN PRODUCCIÓN'"
                  [class.table-success]="tarea.estado=='POR FACTURAR'" 
                  [class.table-warning]="tarea.estado=='EN PRODUCCIÓN - PAUSADO' || tarea.estado=='EN ESPERA DE PRODUCCIÓN'"
                  
            >{{tarea.estado}}</td>
            <td>{{tarea.operador.data.nombre}}</td>
            <td>{{tarea.tiempoEstandar * tarea.cantidad * 60 | formatTime}}</td>
            <td>
              <p *ngIf="!tarea.estadisticas">--</p>
              <p *ngIf="tarea.estadisticas"
              
              

              >{{tarea.estadisticas.tiempoReal | formatTime}}</p>
            </td>
            <td
            [class.table-success]="tarea.estadisticas && tarea.estadisticas.eficiencia>=100" 
            [class.table-warning]="tarea.estadisticas && tarea.estadisticas.eficiencia>=80 && tarea.eficiencia<100"
             [class.table-danger]="tarea.estadisticas && tarea.estadisticas.eficiencia<80"
            >
              <p *ngIf="!tarea.estadisticas">--</p>
              <p *ngIf="tarea.estadisticas">{{tarea.estadisticas.eficiencia}}%</p>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>