<div [@routerTransition]>
  <app-page-header [heading]="'Reportes'" [icon]="'fa-edit'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">Filtros de búsqueda</div>
        <div class="card-body ">
          <div class="row">
            <div class="col-md-6">
              <table class="table table-sm table-bordered">
                <tr>
                  <td>
                    <div class="radio">
                      <label><input type="radio" [(ngModel)]="filtro" value="1">Por Orden de Tabajo</label>
                    </div>
                  </td>
                  <td>
                    <select class="form-control" [(ngModel)]="ordenSeleccionada" *ngIf="filtro=='1'">
                      <option disabled value="">Seleccionar...</option>
                      <option *ngFor="let orden of ordenes | async" value="{{orden.id}}">OT-{{orden.data.numero | anadirCeros:5}}</option>
                    </select>


                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="radio">

                      <label><input type="radio" [(ngModel)]="filtro" value="2">Por Operador</label>
                    </div>
                  </td>
                  <td>
                    <select class="form-control" *ngIf="filtro=='2'">
                      <option>Seleccionar...</option>
                      <option *ngFor="let operador of operadores | async">{{operador.data.nombre}}</option>
                    </select>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="radio">
                      <label><input type="radio" [(ngModel)]="filtro" value="3">Por Servicio</label>
                    </div>
                  </td>
                  <td>
                    <select class="form-control" *ngIf="filtro=='3'">
                      <option>Seleccionar...</option>
                      <option *ngFor="let servicio of servicios | async">{{servicio.data.descripcion}}</option>
                    </select>
                  </td>
                </tr>

                <tr>
                  <td>Desde:</td>
                  <td>
                    <div class="btn-group">
                      <input [disabled]="filtro=='1'" type="date" [(ngModel)]="filtroTiempo.inicio" class="form-control">                      <input
                        type="time" [disabled]="filtro=='1'" [(ngModel)]="filtroTiempo.iniciohora" class="form-control">
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>Hasta:</td>
                  <td>
                    <div class="btn-group">
                      <input [disabled]="filtro=='1'" type="date" [(ngModel)]="filtroTiempo.fin" class="form-control"> <input
                        [disabled]="filtro=='1'" type="time" [(ngModel)]="filtroTiempo.finhora" class="form-control">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <button (click)="buscar()" class="btn btn-primary">Buscar</button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-6"></div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div *ngIf="filtro=='1' && orden" class="card">
    <div class="card-header">Resumen</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <table class="table table-sm table-bordered">
            <tr>
              <th>Número </th>
              <td *ngIf="orden">OT-{{(orden)?.numero | anadirCeros:5}}</td>
            </tr>
            <tr>
              <th>Fecha OT </th>
              <td>{{ (orden.fecha)?.seconds*1000 | date : 'dd/MM/yyyy HH:mm' }}</td>
            </tr>

            <tr>
              <th>ID Cliente</th>
              <td>{{ (orden.cliente)?.cedula }}</td>
            </tr>

            <tr>
              <th>Nombre Cliente</th>
              <td>{{ (orden.cliente)?.nombre }}</td>
            </tr>
            <tr>
              <th>ID/Placa</th>
              <td>{{ (orden.vehiculo)?.placa }}
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table table-sm table-bordered">
            <tr>
              <th>Operaciones finalizadas </th>
              <td *ngIf="orden">{{(orden.estadisticas)?.finalizadas}} de {{(orden.servicios)?.length}}</td>
            </tr>
            <tr>
              <th>Total Tiempo Estándar </th>
              <td *ngIf="orden">{{(orden.estadisticas)?.tiempoEstandar | formatTime}}</td>
            </tr>
            <tr>
              <th>Total Tiempo Real </th>
              <td>{{(orden.estadisticas)?.tiempoReal | formatTime}}</td>
            </tr>

            <tr>
              <th>Eficiencia</th>
              <td>{{ (orden.estadisticas)?.eficiencia }}%</td>
            </tr>

           
          </table>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-sm  table-responsive-sm">
            <thead>
              <tr>

                <th>Cantidad</th>
                <th>Código</th>
                <th>Servicio</th>
                <th>Tiempo estándar</th>
                <th>Estado</th>
                <th>Operador asignado</th>
                <th>Lead Time</th>
                <th>Tiempo Real</th>
                <th>Eficiencia</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let servicio of (orden)?.servicios; let index = index">

                <td>{{servicio.cantidad}}</td>
                <td>{{servicio.codigo}}</td>
                <td>{{servicio.descripcion}}</td>
                <td>{{servicio.tiempoEstandar*servicio.cantidad*60 | formatTime}}</td>
                <td>{{servicio.estado}}</td>
                <td *ngIf="servicio.operador">{{servicio.operador.data.nombre}}</td>
                <td>
                  <p *ngIf="servicio.estadisticas">
                    {{servicio.estadisticas.leadTime | formatTime}}
                  </p>

                  <p *ngIf="!servicio.estadisticas">
                    --
                  </p>
                </td>

                <td>
                  <p *ngIf="servicio.estadisticas">
                    {{servicio.estadisticas.tiempoReal | formatTime}}
                  </p>

                  <p *ngIf="!servicio.estadisticas">
                    --
                  </p>
                </td>

                <td>
                  <p *ngIf="servicio.estadisticas">
                    {{servicio.estadisticas.eficiencia}}%
                  </p>

                  <p *ngIf="!servicio.estadisticas">
                    --
                  </p>
                </td>
              </tr>



            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>