<div [@routerTransition]>
  <app-page-header [heading]="'Crear vehículo'" [icon]="'fa-edit'"></app-page-header>
 

  <div class="card">
    <div class="card-header">Información del vehículo</div>
    <div class="card-body">
      <form class="form" [formGroup]="vehiculoForm" (ngSubmit)="guardarVehiculo()">

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputPassword2" class="">ID/Placa <span style="color: red">*</span></label>
              <input autofocus type="text" maxlength="30" class="form-control" formControlName="placa" id="inputPassword2" placeholder="ID o Placa">
            </div>
            <div class="form-group">
              <label for="inputPassword2" class="">Marca <span style="color: red">*</span></label>
              <input type="text" maxlength="30" class="form-control" formControlName="marca" id="inputPassword2" placeholder="Marca">
            </div>
            <div class="form-group">
              <label for="inputPassword2" class="">Modelo <span style="color: red">*</span></label>
              <input type="text" maxlength="30" class="form-control" formControlName="modelo" id="inputPassword2" placeholder="modelo">
            </div>
            <div class="form-group">
              <label for="inputPassword2" class="">Color</label>
              <input type="text" maxlength="30" class="form-control" formControlName="color" id="inputPassword2" placeholder="Color">
            </div>

          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputPassword2" class="">Número de motor <span style="color: red">*</span></label>
              <input type="text" maxlength="30" class="form-control" formControlName="numeroMotor" id="inputPassword2" placeholder="No Motor">
            </div>
            <div class="form-group">
              <label for="inputPassword2" class="">Número de chasis</label>
              <input type="text" maxlength="30" class="form-control" formControlName="numeroChasis" id="inputPassword2" placeholder="No Chasis">
            </div>

            <div class="form-group">
              <label for="inputPassword2" class="">Año fabricación <span style="color: red">*</span></label>
              <input type="text" maxlength="4"  class="form-control" formControlName="anioFabricacion" id="inputPassword2" placeholder="Año de fabricación">
            </div>

            <div class="form-group">
              <label for="inputPassword2" class="">Dueño actual <span style="color: red">*</span></label>
              <ng-select class="form-control" [items]="personas | async" bindLabel="data.nombre" formControlName="dueno">
              </ng-select>
            </div>

            <div  class="alert alert-info" role="alert">
                Todos los campos marcados con <strong>(*)</strong> son obligatorios
            </div>

      
            <button title="Guardar vehículo"  type="submit" class="btn btn-primary mb-2">Guardar Vehículo</button>

          </div>
        </div>


      </form>
    </div>
  </div>





</div>